/.cache/
/auto-save-list/
/eln-cache/
/elpa/
/elpaca/
/emacs-backup/
/eshell/
/history
/persp-confs/
/transient/
/tree-sitter/
/undo/
/url/

/custom.el
/forge-database.sqlite
/projectile-bookmarks.eld
/projectile.cache
/projects
/recentf
